.footer {
  position: relative;
  background-color: var(--white);
}
.mail input {
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: #777;
  background-color: var(--gray);
  transition: 0.4s;
  position: relative;
}
.mail input:focus {
  border: 1px solid var(--orange);
  color: var(--orange);
}
.mail div img {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 35px;
  height: 75%;
  padding: 6px;
  cursor: pointer;
  border-radius: 3px;
  background-color: var(--orange);
  transition: 0.4s;
}
.mail div img:hover {
  background-color: var(--white);
}
.mail div {
  position: relative;
}
.social img {
  padding: 4px;
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 50%;
  transition: 0.4s linear;
  cursor: pointer;
}
.social img:hover {
  background-color: var(--gray);
  color: var(--white);
  transform: scale(1.01);
  padding: 0;
}
