.card {
  width: 470px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  transition: 0.4s;
  font-family: Arial, sans-serif;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.card-description {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
}

.card-author {
  font-size: 14px;
  color: #999;
  margin-top: 10px;
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.card-tag {
  background-color: #eee;
  color: #333;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  font-size: 14px;
  transition: 0.4s;
}
.card-tag:hover {
  background-color: #ddd;
  color: #333;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  cursor: pointer;
}
.card:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

  transform: translateY(-10px);
}
